body {background-color: #2E2E2E;}

#draggable { width: 60px;
             height: 90px;
             float: right;
}

#droppable { width: 150px;
             height: 150px;
             /*padding: 0.5em;*/
             float: left;
             margin: 10px;
}

#date {
  color: ghostwhite;
  cursor: pointer;
  float: right;
}

#calendar {
  float: right;
}

#menu-bar {
  float: left;
}

.ui-menu {width: 80px;
          position: bottom;
}
